---
Language:        Cpp
BasedOnStyle:    Google
AccessModifierOffset: -8
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false
ColumnLimit: 100
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
FixNamespaceComments: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 30
PointerAlignment: Right
ReflowComments:  true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
Standard:        Latest
